<!DOCTYPE html>
<html>
<head>
    <title>Audiobooks</title>
    <meta charset="utf-8">
    <style>
        body {
            font-family: Consolas, monospace;
        }
        table {
            border-collapse: collapse; width: 100%;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h2>Audiobooks</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Tracks</th>
            <th>Duration</th>
            <th>Size</th>
        </tr>
        {% for b, v in books.items() %}
        <tr>
            <td><a href="?a={{ b }}">{{ v['title']|escape }}</a></td>
            <td>{{ v['author'] }}</td>
            <td>{{ v['files']|length }}</td>
            <td>{{ v['duration_str'] }}</td>
            <td>{{ v['size_str'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

