<!DOCTYPE html>
<html>
<head>
    <title>Audiobooks</title>
    <meta charset="utf-8">
    <link href="static/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
    <h2>Audiobooks</h2>
    <table class="table table-condensed table-bordered table-striped">
        <tr>
            <th>Title</th>
            <th>Tracks</th>
            <th>Duration</th>
            <th>Size</th>
        </tr>
        {% for b, v in books.items() %}
        <tr>
            <td><a href="?a={{ b }}">{{ v['title']|escape }}</a></td>
            <td>{{ v['files']|length }}</td>
            <td>{{ v['duration_str'] }}</td>
            <td>{{ v['size_str'] }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
</html>
